<ng-container *ngIf="typeOpenModalDevis === 'ADD'">
  <div class="row">
    <div class="col-9"><input class="form-control rounded-0 small" type="file" accept="application/pdf"
        (change)="onFileSelected($event)"></div>
    <div class="col-3 text-start"> <button class="btn btn-primary rounded-0" (click)="valider()">Valider</button> </div>
  </div>
  <object #pdfview
          [data]=''
          type="application/pdf"
          width="100%"
          height="800px"></object>
</ng-container>

<ng-container *ngIf="typeOpenModalDevis === 'SHOW'">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let devisFournisseur of devisFournisseurService.devisFournisseurs">
        <td>
          <img [src]="devisFournisseur.imagedevis" alt="Image devis fournisseur"
            (click)="voirdetail(imagedevisfournisseur,devisFournisseur)">
        </td>
        <td>{{ devisFournisseur.date | date: "dd/MM/yyyy à HH:mm" }}</td>
        <td>
          <span class="font-weight-bold text-capitalize"
            [class]="devisFournisseur.statut === 'VALIDE' ? 'text-success' : 'text-danger'">{{ devisFournisseur.statut
            }}</span>
        </td>
        <td>
          <button [disabled]="isLoading" (click)="onChooseDevisFournisseur(devisFournisseur)"
            class="btn btn-gradient-success btn-icon-text">Choisir <i
              [class]="!isLoading?'mdi mdi-check':'spinner-grow spinner-grow-sm'"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-container *ngIf="typeOpenModalDevis==='DETAILS'">
  <div class="d-flex justify-content-center">
    <select class="form-control mx-3 text-center" (change)="showDataDevis($event)">
      <option *ngFor="let d of devisFournisseurService.devisFournisseurs">{{d.reference}}</option>
    </select>
  </div>

  <object #pdfviews
          [data]=''
          type="application/pdf"
          width="100%"
          height="800px"></object>
</ng-container>


<ng-template #imagedevisfournisseur>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Devis</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close"
      (click)="modalRefimageDevisFournisseur?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>
