<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <h4 class="card-title">Utilisateur</h4>
      </div>
      <div class="col-2">
        <button class="btn btn-gradient-primary btn-icon-text" (click)="openModal(addUser)">Ajouter <i class="mdi mdi-plus btn-icon-append"></i></button>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Fonction</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="utilisateurService.utilisateurs.length != 0; else emptyTable">
          <tr *ngFor="let utilisateur of utilisateurService.utilisateurs">
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.telephone }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.fonction }}</td>
            <td>
              <button class="btn btn-inverse-warning btn-icon" (click)="openModal(editUser, utilisateur)"> <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-inverse-danger btn-icon" (click)="openModal(deleteUser, utilisateur)"><i class="mdi mdi-delete-forever"></i></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #emptyTable>
  <tr>
    <td class="text-center" colspan="6">Aucun utilisateur enregistrer 😥!</td>
  </tr>
</ng-template>

<ng-template #addUser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajouter un Utilisateur</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" [formGroup]="formAddUser" (ngSubmit)="onSaveUser()">
      <div class="form-group">
        <label for="exampleSelectGender">Fonction</label>
        <select formControlName="fonction" class="form-control rounded-0" >
          <option></option>
          <option value="DIRECTEUR ACHAT">DIRECTEUR ACHAT</option>
          <option value="ADMIN">ADMIN</option>
          <option value="ACHETEUR METIER">ACHETEUR METIER</option>
          <option value="RESPONSABLE STOCK">RESPONSABLE STOCK</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputUsername1">Nom</label>
        <input formControlName="nom" type="text" class="form-control rounded-0" placeholder="Nom">
      </div>
      <div class="form-group">
        <label>Prenom</label>
        <input formControlName="prenom" type="email" class="form-control rounded-0" placeholder="Prenom">
      </div>
      <div class="form-group">
        <label>Telephone</label>
        <input formControlName="telephone" type="text" class="form-control rounded-0"  placeholder="Telephone">
      </div>
      <div class="form-group">
        <label >Email</label>
        <input formControlName="email" type="email" class="form-control rounded-0"  placeholder="Email">
      </div>
      <div class="form-group">
        <label>login</label>
        <input formControlName="login" type="email" class="form-control rounded-0"  placeholder="Email">
      </div>

      <button type="submit" class="btn btn-gradient-primary me-2 rounded-0">
        Enregistrer
        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      </button>
      <button type="reset" (click)="modalRef?.hide()" class="btn btn-light">Annuler</button>
    </form>
  </div>
</ng-template>

<ng-template #editUser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modifier un Utilisateur</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="forms-sample">
      <div class="form-group">
        <label for="exampleInputUsername1">Nom</label>
        <input [(ngModel)]="utilisateur.nom" type="text" class="form-control" id="exampleInputUsername1" placeholder="Nom">
      </div>
      <div class="form-group">
        <label >Prenom</label>
        <input [(ngModel)]="utilisateur.prenom" type="email" class="form-control" placeholder="Prenom">
      </div>
      <div class="form-group">
        <label >Telephone</label>
        <input [(ngModel)]="utilisateur.telephone" type="text" class="form-control"  placeholder="Telephone">
      </div>
      <div class="form-group">
        <label >Email</label>
        <input [(ngModel)]="utilisateur.email" type="email" class="form-control"  placeholder="Email">
      </div>
      <div class="form-group">
        <label >login</label>
        <input [(ngModel)]="utilisateur.login" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleSelectGender">Fonction</label>
        <select [(ngModel)]="utilisateur.fonction" class="form-control" id="exampleSelectGender">
          <option></option>
          <option value="DIRECTEUR ACHAT">DIRECTEUR ACHAT</option>
          <option value="ADMIN">ADMIN</option>
          <option value="ACHETEUR METIER">ACHETEUR METIER</option>
          <option value="RESPONSABLE STOCK">RESPONSABLE STOCK</option>
        </select>
      </div>
      <button (click)="onUpdate()" class="btn btn-gradient-primary me-2">
        Enregistrer
        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      </button>
      <button type="reset" (click)="modalRef?.hide()" class="btn btn-light">Annuler</button>
    </div>
  </div>
</ng-template>
<ng-template #deleteUser></ng-template>

